@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;600;700;800;900&display=swap');

::root {
    --bgcolor: #000000;
    --textcolor: #000000;
    --textseccolor: #21243D;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    margin: 0 10vw;
}

header {
    height: 100vh;
    background: var(--bgcolor);
}

nav {
    width: 80vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: #ffffff;
    z-index: 99;
}

nav img {
    width: 60px;
    cursor: pointer;
    transition: all ease-out .3s;

}

nav img:hover {
    width: 65px;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}

.nav-bar li {
    list-style: none;
}

#active-nav {
    text-decoration: none;
    font-family: 'Heebo', sans-serif;
    font-weight: 500;
    color: #FF6464;
    font-size: 22px;
    transition: .3s all ease;
}

.nav-bar li a {
    text-decoration: none;
    font-family: 'Heebo', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: var(--textcolor);
    transition: .3s all ease;
}

.nav-bar li a:hover {
    color: #FF6464;
    font-size: 22px;
}

.hero {
    height:100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.hero-content {
    width: 40%;
    height: 100%;
    margin-top: 20%;
}

.hero-content h1 {
    font-family: 'Heebo', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    line-height: 60px;
}

.hero-content h1 span {
    color: #FF6464;
}

.hero-content p {
    font-family: 'Heebo', sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: var(--textseccolor);
}

.hero-content a {
    text-decoration: none;
    font-weight: 500;
    font-family: 'Heebo', sans-serif;
    font-size: 1.2rem;
    line-height: 30px;
    color: #ffffff;
    background-color: #FF6464;
    padding: 5px 21px 10px 21px;
    border-radius: 8px;
    box-shadow: 0 0 10px 2px rgb(214, 141, 141);
    transition: .3s all ease;

}

.hero-content a:hover {
    box-shadow: 0 0 40px 4px rgb(248, 147, 147);
    font-size: 21px;
}

.hero-img {
    width: 40%;
    height: 100%;
  margin-top: 20%;
}

.hero-img img {
    width: 20vw;
    border-radius: 50%;
    padding: 4px;
    border: 3px solid #FF6464;
    box-shadow: 0 0 40px 8px rgb(206, 140, 140);
    transition: all ease-out .3s;
}

.hero-img img:hover {
    width: 22vw;
}

#Blog {
    height: 100vh;
    width: 100vw;

}

.blog-sec {
    height:100%;
}

.blog-sec h1 {
    font-family: 'Heebo', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    line-height: 60px;

}

@media screen and (max-width: 1200px) {
    .hero {
        flex-direction: column-reverse;

    }

}
